@model FirstCoreProject.Models.ViewModels.ProductViewModel

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
     <input type="hidden" asp-for="Product.ImageUrl" />

     <img src="@Model.Product.ImageUrl" width="100" height="100" />

    <div class="container p-1">
        <div class="row">
            <div class="col-8">
                <h1>@((Model.Product==null || Model.Product.Id==0)? "Create":"Update") Product</h1>
            </div>
            <div class="col-4">
                <a asp-controller="Product" asp-action="Index" class="btn btn-success btn-md"><i class="fa-solid fa-eye"></i> View Product</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-3">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>

            <div class="col-12 mb-3">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" class="form-control" ></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

             <div class="col-12 mb-3">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control"  />
                <span asp-validation-for="Product.Price" class="text-danger"></span>

            </div>

              <div class="col-12 mb-3">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" asp-items="Model.Categories" class="form-select">
                    <option selected disabled>Select Category</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>

            </div>

              <div class="col-12 mb-3">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" id="ImageFile" name="file" class="form-control" />
            </div>






            <div class="col-2">
                @if(Model.Product==null || Model.Product.Id==0)
                {
                    <button class="btn btn-success" type="submit" onclick="return ValidateEmpty()">Create</button>

                }
                else
                {
                <button class="btn btn-success" type="submit">Save Change</button>
                    
                }


            </div>

        </div>


    </div>

</form>


@section scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }

    <script>
        function ValidateEmpty()
        {
            if (document.getElementById("ImageFile").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please choose image!',
                });

                return false;
            }
            
            return true;
        }


         tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
    </script>

}
